@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Inicio de programacion 5</p>
    <p>Hola Soy Alan</p>
    <img src="https://mvsnoticias.com/u/fotografias/m/2023/10/20/f960x540-570992_645067_5050.jpg" alt="Imagen de ejemplo" />
</div>
